:root {
    --bg-light: #d1d1d1;
    --primary-chart: rgb(101, 255, 255);
    --secondary-chart: rgb(255, 112, 112);
  }

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: var(--primary-chart);
}
