{%extends "layout.html" %}
{% block filter%}           
    <form method = "post" action="{{url_for('player')}}">
        <div class='row'>
            <div class='col'>
                <select class="form-select" multiple size="3" name="year">
                    {% for y in years %}>
                        {% if y|string() in selectedyears%}
                            <option selected value={{y}}>{{y}}</option>
                        {%else%}           
                            <option value={{y}}>{{y}}</option>
                        {%endif%}
                    {% endfor %}
                </select>
            </div>
            <div class='col'>
                <select class="form-select" name="player">
                    {% for p in players %} 
                        {% if p == player%}
                            <option selected value={{p.get_id()}}>{{p.get_fullname()}}</option>
                        {%else%}           
                            <option value={{p.get_id()}}>{{p.get_fullname()}}</option>
                        {%endif%}
                    {% endfor %}
                </select>
            </div>
            <div class='col-auto'>
                <button type="submit" class="btn btn-primary float-end">Auswerten</button>
            </div>                        
        </div>     
    </form>                
{% endblock filter%}     

{% block content%}    
    <div class="container">
        <div class="container mt-4 mb-4">
            <h4 class="text-center">{{player.get_fullname()}} - {{player.get_team().get_name()}} - {%for year in selectedyears%} {{year}} {%endfor%} </h3>
        </div>
        <div class="row text-center">
            <div class="col">
                <div class="counter">
                    <h2 class="count-title">{{games|length}}</h2>
                    <p class="count-text ">Games</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h3 class="count-title">{{goals|length}}</h2>
                    <p class="count-text ">Goals</p>
                    <p class="count-text ">-</p>
                    <h3 class="count-title ">#{{goalpos}}</h2>
                    <p class="count-text ">in selected seasons</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="count-title">{{assists|length}}</h2>
                    <p class="count-text ">Assists</p>
                    <p class="count-text ">-</p>
                    <h3 class="count-title ">#{{assistpos}}</h2>
                    <p class="count-text ">in selected seasons</p>
                </div>
            </div>
            <div class="col">
                <div class="counter">
                    <h2 class="count-title">{{penaltymin}}</h2>
                    <p class="count-text ">Penalty Minutes</p>
                    <p class="count-text ">-</p>
                    <h3 class="count-title ">#{{penpos}}</h2>
                    <p class="count-text ">in selected seasons</p>
                </div>
            </div>
        </div>   
        <div class="row">
            <div class="col">
                <canvas id="points"></canvas>
            </div>
            <div class="col">
                <canvas id="penalties"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <canvas id=""></canvas>
                </div>
                <div class="row">
                    <canvas id=""></canvas>
                </div>
                
            </div>
            <div class="col">
                <canvas id=""></canvas>
            </div>           
        </div>        
    </div>

    <script>
    new Chart(document.getElementById("points"), {
        type: 'bar',
        data: {
            labels: [
                {% for item in times %}
                    "{{ item }}",
                {% endfor %}
                ],
            datasets: [{
                label: 'Goals',
                data: {{goalsinterval}},
                backgroundColor: 'rgba(0, 56, 255, 1)',
                order: 0
            },{
                label: 'Assists',
                data: {{assistsinterval}},
                backgroundColor: 'rgba(200,0,0,0.8)',
                order: 1
            }]         
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Points'
                },
            },
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true
                }
            }
        }
        
    });
    </script>

    <script>
    new Chart(document.getElementById("penalties"), {
        type: 'bar',
        data: {
            labels: [
                {% for item in times %}
                    "{{ item }}",
                {% endfor %}
                ],
            datasets: [{
                label: '# of Penalties',
                data: {{penalties}},
                backgroundColor: 'rgba(0, 56, 255, 1)',
                order: 0
            }]         
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Penalties'
                },
            },
            responsive: true
        }
        
    });
    </script>


{% endblock content%}