{%extends "layout.html" %}
{% block filter%}           
    <form method = "post" action="{{url_for('player')}}">
        <div class='row'>
            <div class='col'>
                <select class="form-select" multiple size="3" name="year">
                    {% for y in years %}>
                        {% if y|string() in selectedyears%}
                            <option selected value={{y}}>{{y}}</option>
                        {%else%}           
                            <option value={{y}}>{{y}}</option>
                        {%endif%}
                    {% endfor %}
                </select>
            </div>
            <div class='col'>
                <select class="form-select" name="player">
                    {% for p in players %} 
                        {% if p == player%}
                            <option selected value={{p.get_id()}}>{{p.get_fullname()}}</option>
                        {%else%}           
                            <option value={{p.get_id()}}>{{p.get_fullname()}}</option>
                        {%endif%}
                    {% endfor %}
                </select>
            </div>
            <div class='col-auto'>
                <button type="submit" class="btn btn-primary float-end">Auswerten</button>
            </div>                        
        </div>     
    </form>                
{% endblock filter%}     

{% block content%}    
    
    <div class="container py-3">
        <h4 class="text-center">{{player.get_fullname()}} - {{player.get_team().get_name()}} - {%for year in selectedyears%} {{year}} {%endfor%} </h3>
    </div>
    <div class="container">
        <div class="row row-cols-2 row-cols-xl-3 g-3 ">
            <div class="col">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4" text>
                            <div class="card-icon rounded-start">
                                <i class="fas fa-skating fa-3x "></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{games|length}} Games</h5>
                                {% if gppos != None%}
                                <p class="card-text">#{{gppos}} in league</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4 " text>
                            <div class="card-icon rounded-start">
                                <i class="fas fa-bullseye fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{goals|length}} Goals</h5>
                                {% if goalpos != None%}
                                <p class="card-text">#{{goalpos}} in league</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4" text>
                            <div class="card-icon rounded-start">
                                <i class="fas fa-trophy fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{gwg|length}} Game Winning Goals</h5>
                                {% if gwgpos != None%}
                                <p class="card-text">#{{gwgpos}} in league</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4 " text>
                            <div class="card-icon rounded-start">
                                <i class="fas fa-hands-helping fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{assists|length}} Assists</h5>
                                {% if assistpos != None%}
                                <p class="card-text">#{{assistpos}} in league</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <div class="row g-0 h-100">
                        <div class="col-4 " text>
                            <div class="card-icon rounded-start">
                                <i class="fas fa-hand-peace fa-3x"></i>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="card-body">
                                <h5 class="card-title">{{penaltymin}} Penalty Minutes</h5>
                                {% if penpos != None%}
                                <p class="card-text">#{{penpos}} in league</p>
                                {%endif%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class = "container">
        <div class="row">
            <div class="col">
                <canvas id="points"></canvas>
            </div>
            <div class="col">
                <canvas id="penalties"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row">
                    <canvas id=""></canvas>
                </div>
                <div class="row">
                    <canvas id=""></canvas>
                </div>
                
            </div>
            <div class="col">
                <canvas id=""></canvas>
            </div>           
        </div>        
    </div>

    <script>
    new Chart(document.getElementById("points"), {
        type: 'bar',
        data: {
            labels: [
                {% for item in times %}
                    "{{ item }}",
                {% endfor %}
                ],
            datasets: [{
                label: 'Goals',
                data: {{goalsinterval}},
                backgroundColor: 'rgba(0, 56, 255, 1)',
                order: 0
            },{
                label: 'Assists',
                data: {{assistsinterval}},
                backgroundColor: 'rgba(200,0,0,0.8)',
                order: 1
            }]         
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Points'
                },
            },
            responsive: true,
            scales: {
                x: {
                    stacked: true,
                },
                y: {
                    stacked: true
                }
            }
        }
        
    });
    </script>

    <script>
    new Chart(document.getElementById("penalties"), {
        type: 'bar',
        data: {
            labels: [
                {% for item in times %}
                    "{{ item }}",
                {% endfor %}
                ],
            datasets: [{
                label: '# of Penalties',
                data: {{penalties}},
                backgroundColor: 'rgba(0, 56, 255, 1)',
                order: 0
            }]         
        },
        options: {
            plugins: {
                title: {
                    display: true,
                    text: 'Penalties'
                },
            },
            responsive: true
        }
        
    });
    </script>


{% endblock content%}